<div class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.layout-type]="layoutType"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout"
  [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vNavigationView" (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.pcoded-header-position]="pcodedHeaderPosition"
      [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo" [attr.logo-theme]="logoTheme">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
            [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <p style="text-align: center;">STAGY</p>
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle">
                  <a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a>
                </div>
              </li>
              <li>
                <a href="javascript:;" appToggleFullScreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
              <li class="mega-menu-top">

              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">

              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="./../../../assets/user.png" class="img-radius" alt="User-Profile-Image" />
                  <span>{{this.nom}}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">

                  <li>
                    <a [routerLink]="" (click)="logout()">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class="pcoded-navbar" (clickOutside)="onClickedOutside($event)"
          [exclude]="'#mobile-collapse'" [attr.pcoded-header-position]="pcodedHeaderPosition"
          [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2"
          active-item-style="style0" [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle">
            <a href="javascript:;"><i class="icon-close icons"></i></a>
          </div>
          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <div class="">

              <br><br><br>
              <div class="main-menu-content">
                <ul>

                </ul>
              </div>
            </div>

            <perfect-scrollbar *ngIf="this.userRole==='Student'" [style.max-width]="'100%'"
              [style.max-height]="'calc(100vh - 230px)'" [config]="config">
              <div class="d-color">
                <div class="pcoded-navigatio-lavel" [attr.menu-title-theme]="menuTitleTheme">
                  Navigation
                </div>
                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder"
                  [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder" appAccordionLink>
                  <!--aaaaaaaaaaaaa-->
                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-home"></i></span>
                      <span class="pcoded-mtext">Dashboard</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>


                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/all_Offre']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-stack-overflow"></i></span>
                      <span class="pcoded-mtext">All Offers</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/myregOffre']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-save"></i></span>
                      <span class="pcoded-mtext">Registered offers</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/demandeOffre']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-export"></i></span>
                      <span class="pcoded-mtext">My Applications</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/mySuggestions']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-download"></i></span>
                      <span class="pcoded-mtext">My Suggestions</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </perfect-scrollbar>


            <perfect-scrollbar *ngIf="this.userRole==='Company'" [style.max-width]="'100%'"
              [style.max-height]="'calc(100vh - 230px)'" [config]="config">
              <div class="d-color">
                <div class="pcoded-navigatio-lavel" [attr.menu-title-theme]="menuTitleTheme">
                  Navigation
                </div>
                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder"
                  [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder" appAccordionLink>
                  <!--aaaaaaaaaaaaa-->
                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-home"></i></span>
                      <span class="pcoded-mtext">Dashboard</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/CompanyOffre']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-calendar"></i></span>
                      <span class="pcoded-mtext">Offre Management </span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/studentDemande']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-share"></i></span>
                      <span class="pcoded-mtext">Request Management</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li appAccordionLink>
                    <a [routerLink]="['/dashboard/studentSuggestions']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-share-alt"></i></span>
                      <span class="pcoded-mtext">Suggestion Management</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </perfect-scrollbar>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">

                <div class="page-body">
                  <router-outlet>
                  </router-outlet>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>